#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$0rq/pfxplZ/1VrX2$h96gB02csXuI1iRnpafHUA8OM3U5DlC9NRJKnknfr9rqGDJxzZKhzSbikhzUxMJ5YMROut/JHc/Dp4ahEYtXp1
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc --nontp
user --groups=wheel --name=spamarti --password=$6$Saj5W4WdnLtkAxPz$g1PWX1q9V0/HSTchD/TDK7PkKsFjVVpuXCI.b1CF6oPA62KAuoXm52VVkJKHXtUue0WcUjakfx6TRSEIwsGJo/ --iscrypted --gecos="Sarvani Pamarti"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part biosboot --fstype="biosboot" --ondisk=sda --size=2
part /boot --fstype="xfs" --ondisk=sda --size=500
part swap --fstype="swap" --ondisk=sda --size=2048
part / --fstype="xfs" --ondisk=sda --size=99848

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
